@model App.DAL.Models.TblMissionVission

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<div class="box-content">

       <div class="box-heading">
    <div class="box-title">
            <h3 class="mb-35">Crew Manning</h3>
    </div>
    <div class="box-breadcrumb">
            <a asp-action="EditMissionVission" asp-route-id="@Model.MissionVissionId" class="btn btn-default">Update</a>

    </div>
    </div>

    <div class="row">

        <div class="col-xl-12 col-12">
            <div class="card-grid-2 hover-up">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="box-padding">
                            <div class="row display-list">
                                <div class="table-responsive">
                                    

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                
                                                <th scope="col">Details</th>
                                                <th scope="col">Image</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                               
                                                
                                                <td width="70%">
                                                    <h4>Mission</h4>
                                                    @{
                                                        if (Model.MissionDetails != null || Model.MissionDetails != "")
                                                        {
                                                                <p class="color-text-paragraph font-sm" align="justify">
                                                                @Html.Raw(Model.MissionDetails)
                                                                </p>
                                                        }
                                                        else
                                                        {
                                                                <p class="color-text-paragraph font-sm" align="justify">

                                                                </p>
                                                        }
                                                    }
                                                </td>
                                                <td width="30%">
                                                    <p>&nbsp;</p><img src="@Model.MissionImage" style="display: block;"  />
                                                </td>
                                            </tr>
                                            <tr>
                                               
                                                
                                                <td width="70%">
                                                    <h4>Vission</h4>
                                                    @{
                                                        if (Model.VissionDetails != null || Model.VissionDetails != "")
                                                        {
                                                                <p class="color-text-paragraph font-sm" align="justify">
                                                                @Html.Raw(Model.VissionDetails)
                                                                </p>
                                                        }
                                                        else
                                                        {
                                                                <p class="color-text-paragraph font-sm" align="justify">

                                                                </p>
                                                        }
                                                    }
                                                </td>
                                                <td width="30%">
                                                    <p>&nbsp;</p><img src="@Model.VissionImage" style="display: block;"  />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<div>
    @**@
</div>
